# Ignore the .git directory
.git/
.gitignore

# Ignore the virtual environment directory
venv/
tvenv/

# Ignore all Python cache files and directories
__pycache__/
*.pyc

# Ignore egg-info directory (if you're using setuptools)
src.egg-info/

# Various Folders
data/
docs/
notebooks/

# Docker-related files
Dockerfile
docker-compose.yml
docker-mongodb.yml

# Various root files
.env
.mypy_cache
.pre-commit-config.yaml
LICENSE
README.md
pyproject.toml
requirements.txt
setup.ps1
setup.sh


# Databases
# -----------------
# Exclude everything in the /databases/ directory
/databases/*

# Re-include the specific directory /databases/my_lancedb/table_simple03.lance/ & its contents
!/databases/my_lancedb/table_simple03.lance/
!/databases/my_lancedb/table_simple03.lance/**
